body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  color: #1e56a0;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #1e56a0;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #1e56a0;
}
p{
  line-height: 2;
  color: #163172;
}
a{
  color: #1e56a0;
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
  width: 5%;
  margin: 75px auto;
}
.footer-link{
  color: #1e56a0;
  margin: 25px;
}
.wai{
  width: 50%;
  margin: 0 auto;
}
.Top{
  background-color: #d6e4f0;
  position: relative;
  padding-top: 100px;
}
.Middle{
  background-color:  #f6f6f6;
  padding: 100px 0 175px 0;
  color: #40514E;
}
.Bottom{
  background-color: #d6e4f0;
  padding: 50px;
  color: #1e56a0;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
  width: 5%;
}
.top-cloud{
  position: absolute;
  right: 300px;
  bottom: 300px;
  width: 5%;

}
.cool{
  text-decoration: underline;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  padding: 50px;
}
.me{
  width: 15%;
}
.skill-image1{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.skill-image2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.copyright{
  color: #163172;
  padding-top: 25px;
}
.intro{
  width: 30%;
  text-align: center;
  margin: auto;
}
.button {
  text-decoration: none;
  position: relative;
  top: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #163172,  #163172);
  background: -ms-linear-gradient(top,  #163172,  #163172);
  background: -webkit-gradient(linear, left top, left bottom, from(#163172), to(#163172));
  background: -moz-linear-gradient(top,  #163172,  #163172);
}
.button:hover {
  color: #ffffff !important;
  background: #468CCF;
  background: linear-gradient(top,  #1e56a0,  #1e56a0);
  background: -ms-linear-gradient(top,  #1e56a0,  #1e56a0);
  background: -webkit-gradient(linear, left top, left bottom, from(#1e56a0), to(#1e56a0));
  background: -moz-linear-gradient(top,  #1e56a0,  #1e56a0);
}
.contact-message{
  width: 30%;
  margin: auto;
}
.computer{
  width: 15%;
  margin: 3% 0 7%;
}
/*.code-skill-description{
  clear: left;  /*  clear is like the opposite of float*/
/*
}
Prevents the words from wrapping around the image
.otherdes{
  clear: right;
}
*/
